<div class="event-share-footer">

    <ul class="banner-social-buttons" style="display:block">
        <li class="share-mall-url share-area">
            <div class="icon"></div>
            <a href="#share_mall_url" id="share_mall_trigger_btn" class="btn-block">
                {{ dictionary.button.share }}
            </a>
        </li>
        <li class="share-boost share-area">
            <div class="icon"></div>
            <a href="#share_boost" id="share_trigger_btn" class="btn-block">
                {{ dictionary.button.boost }}
            </a>
        </li>
    </ul>

</div>